@mixin font-size($font-size, $line-height:true){
    font-size: $font-size;
    font-size:($font-size / $base-font-size) * 1rem;
    @if $line-height == true {
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}