@function match($haystack, $needle) {
  @each $item in $haystack {
    $index: index($item, $needle);
    @if $index { 
      $return: if($index == 1, 2, $index);
      @return nth($item, $return); 
    }
  }
  @return false;
}
