.header {
    padding: 1em 0 0;
}

    .title {
        @include font-size($h1-size);
        font-family: $secondary-font;
        font-weight: 500;
        margin: 0;
        color: #000;

        a {
            color: #000;
            text-decoration: none;
        }
    }
