.button {
    @include font-size($h4-size);
    display: block;
    padding: .75em 0;
    text-decoration: none;
    color: rgba(0,0,0,.8);

    &::after {
        content: "\2192";
        margin-left: .5em;
        color: rgba(0,0,0,.5);
        transition: .1s ease-in margin-left;
    }

    &:hover,
    &:focus {
        color: rgba(0,0,0,.8);

        &::after {
            margin-left: 1em;
            transition: .1s ease-in margin-left;
        }
    }
}
