<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="stylesheets/default.css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/ready.js"></script>

<!-- lavaLamp jQuery -->
<script type="text/javascript" src="js/lavalamp.js"></script>
<script type="text/javascript" src="js/lavalamp_easing.js"></script>

<!-- scrollTo jQuery -->
<script type="text/javascript" src="js/scrollto.js"></script>
<script type="text/javascript" src="js/localscroll.js"></script>

<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT|Gentium+Book+Basic' rel='stylesheet' type='text/css'>

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="css/ie6.css">
<![endif]-->

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
</head>

  <body class="{{ page.keyword }}">
    <div id="up"></div>
    <section id="container">
      {{ content }}
    </section>

  </body>
</html>